
@font-face {
    font-family: mainFont_eng;
    src: url(../font/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: mainFont_kor;
    src: url(../font/NanumGothicCoding-Regular.ttf);
}


:root{
    --main-bg-color: rgba(49, 56, 79,1.0);
    --main-bg-color-with-trans: rgba(49, 56, 79,.3);
    --main-height:800px;
    --main-padding-left:200px;
    --main-padding-right:200px;

}

html{

    font-family: mainFont_eng,mainFont_kor;
    min-width:1700px;

}
body{
    margin:0;
    background-color: var(--main-bg-color-with-trans);


}

main{
    padding-top: 150px;
    padding-left: var(--main-padding-left);
    padding-right: var(--main-padding-right);

}

.main_title_Box{
    position: fixed;
    top: 0px;
    background-color: var(--main-bg-color);
    width:100%;
    height:80px;
    color:white;
    z-index:99;
}
.main_title:hover{
    cursor: default;
}
.main_title{
    padding: 15px 0px 0px 130px;
    font-size: 30px;
}

.user_name:hover{
    cursor: default;

}
.user_name{
    float:right;
    margin-top:-30px;
    margin-right:350px;
    font-size: 20px;
}

@keyframes logout_hover {
    from {border-color: white; color:white;}
    to {border-color: rgb(122, 131, 255); color:rgb(122, 131, 255);}
}

.logout:hover{
    cursor: pointer;
    animation-name:logout_hover;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
}
.logout{

    float:right;
    margin-top:-30px;
    margin-right:100px;
    font-size: 20px;
    width:120px;
    text-align: center;
    height: 30px;


}


.main_menu_box:hover{
    cursor: pointer;

}
.main_menu_box{

    position: absolute;
    margin-left: 90px;
    margin-top:21px;
    z-index:99;

}
.menuSymbol{
    font-size: 30px;
}
.main_menu:hover{
    cursor: default;
}
.main_menu{
    margin:0px;
    position: fixed;
    top:80px;
    bottom:0px;
    left:0px;
    width:100%;
    height:200px;
    background-color: rgba(0,0,0,0.8);
    padding: 30px 50px 50px 200px;
}


.root_menu_box{
    display:block;
    float:left;
    width:20%;
    height:80px;
    margin-bottom:50px;
}
.root_menu{
    font-size: 25px;

}

@keyframes submenu_hover {
    from {color:white;font-size:20px;}
    to {color:rgba(0, 0, 255,0.7);font-size:23px;}
}
.first_level_sub_menu:hover{
    cursor: pointer;
    animation-name:submenu_hover;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
}
.first_level_sub_menu{

    margin-left:20%;
    margin-top:10px;
    font-size:20px;
}
.first_level_sub_menu_box{
    margin-bottom:70px;
    margin-top:-20px;
    margin-left:60px;
}

.current_page_title_box:hover{
    cursor: default;
}

.current_page_title_box{
    position:absolute;
    z-index:1;
    left:13%;
    top:100px;
    font-size: 30px;
    font-weight: bold;

}
.current_page_path_info_box{
    position:absolute;
    z-index:1;
    left:80%;
    top:120px;

}

.current_page_path_info_box:hover{
    cursor: default;

}
.current_page_info{
    position:absolute;
    top:90px;
    right:12%;
    font-size:18px;
    font-weight: bold;

}
.current_page_input{
    height:30px;
    width:35px;
    border:none;
    border-bottom: 1px solid black;
    background-color: rgba(0,0,0,0);

}

.max_page_input{
    height:30px;
    width:35px;
    margin-left:10px;
    border:none;
    border-bottom: 1px solid black;
    background-color: rgba(0,0,0,0);
}
.slash{
    position: absolute;
    margin-left: 38px;
    margin-top: -30px;

    width:8px;
    height:30px;
    background:
      linear-gradient(to top left,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.8px),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.8px),
          rgba(0,0,0,0) 100%)
}
.searchBox{
    width:100%;
    display: inline-block;
    border-bottom:2px solid gray;
    padding:10px 10px 10px 10px;
    font-weight: bold;
}
label{
    margin-left:5px;
}
.searchBox>div:not(.date_input_box):not(.button_box){
    float:left;
    border-right:2px solid;
    padding:0px 20px 0px 20px;
}
.searchBox>div.date_input_box{
    float:left;
    border-right:2px solid;
    padding:0px 20px 0px 20px;
}
.button_box{
    padding:0px 0px 0px 5px;
    float:right;
}

.set_specific_filter_button_box{
    float:left;

}
.csv_button_box{
    float:left;
}
.search_button_box{
    float:right;

}
.set_specific_filter_button_box>button{
    height:30px;
    margin-left:15px;
    background-color: var(--main-bg-color);
    color:white;

}
.csv_button_box>button{
    height:30px;
    margin-left:15px;
    background-color: var(--main-bg-color);
    color:white;
}
.search_button_box>button{
    height:30px;
    margin-left:15px;
    background-color: var(--main-bg-color);
    color:white;
}
.items_delete_button{
    float:left;
    margin-left:15px;
    height:30px;
    background-color: var(--main-bg-color);
    color:white;
}
.items_add_button{
    float:left;
    margin-left:15px;
    height:30px;
    background-color: var(--main-bg-color);
    color:white;
}
.start_date_input_box{
    float:left;
}
.end_date_input_box{
    float:left;
}
.searchBox label input{
    width:120px;
    height:30px;
    margin-left:10px;
}
.searchBox label select{
    width:120px;
    height:30px;
    margin-left:10px;
}
.table_box{
    width:100%;
    height:600px;
    display: inline-block;
    margin-top:30px;
}
.table_box>table{
    width:100%;
}
.table_box>table>thead{
    font-weight: bold;
    background-color: var(--main-bg-color);
    color:white;
}
.table_box>table>thead th:first-child:hover{
    cursor: pointer;
}
.table_box>table>tbody td{
    padding:0px 8px 0px 8px;
    border-bottom:1px solid gray;
}
.table_box>table>tbody input{
    width:100%;
}
.table_box>table>tbody select{
    width:100%;
}
.table_box>table>tbody button{
    width:100%;
    background-color: rgba(255,255,255,0.3);
    color:black;

}
.page_box>div>i:hover{
    cursor: pointer;
    color: white;
}
.page_box>div>i:first-child{
    margin-right: 5px;
}
.page_box{
    margin-top:30px;
    padding-left:45%;
}
.page_box>div{
    float:left;
}
.number{
    text-align: right;
}
.addPopupBox{
    position:absolute;
    z-index: 99;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    display: block;
    border:1px solid;
    padding: 20px 20px 20px 20px;
    background-color: rgba(201, 201, 201,0.3);

}
.addpopup_inside_Box{
    position:absolute;
    margin:-200px 0px 0px -175px;
    width:350px;
    left:50%;
    top:50%;
    border:4px double;
    padding:10px 20px 10px 10px;
    background-color: gray;

}
.addpopup_inside_Box>label{
    float:left;
    width:100%;
    margin-top:10px;
    border-bottom: 1px solid gray;

}

.addpopup_inside_Box>label input{
    float:right;
    margin-bottom: 5px;
    width:160px;

}
.addpopup_inside_Box>label select{
    float:right;
    margin-bottom: 5px;
    width:160px;

}
.add_popup_button_group{
    display: inline;
    width:100%;
    padding-top:30px;

}
.add_popup_button_group>button{
    height:30px;
    width:120px;
    margin-bottom: 5px;
    background-color: var(--main-bg-color);
    color:white;
    font-weight: bold;

}
.add_popup_button_group>button:hover{
    cursor: pointer;

}
.add_popup_button_group>button:first-child{
    float:left;
    margin-left: 15px;
}
.add_popup_button_group>button:last-child{
    float:right;
    margin-right: 15px;
}
.button_box>button{
    float:right;
}
.button_box>div{
    float:left;
    display: inline;
}
.page_input_box{
    margin-top:-8px;
}
.max_page_input:hover{
    cursor: default;
}
