.main_box{
    border : 1px solid;
    padding-top:50px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgba(0,0,0,0.2);
}

.chart-container {
    width: 40%;
    height:200px;
    float:right;
    display: block;
}
.line_box{
    margin-bottom:10px;
    display: inline-block;
    width:100%;
    height:350px;
    border:5px inset;
    padding-right:50px;
    display: block;
}
.line_name{
    position:absolute;
    padding-top: 150px;
    width: 15%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: block;

}
.line_name:hover{
    cursor: default;

}
