
.main_box{

}

.owlcarousel_box{
    top:30px;
    width:100%;
    height:659px;
    padding:0px 20px 0px 20px;
    display: inline-block;
    border:2px solid var(--main-bg-color) ;
    margin-top:30px;
}

#owlcarousel{
    display: inline-block;
    position: relative;
    top:50px;
    width:100%;
    text-align: center;
    height:90%;

}
img{
    height:70%;
}
.data_box_div_in_item{
    height:20%
}
.fas:hover{
    color:rgba(0,0,255,0.2);
    cursor: pointer;
}


.table_filename{
    width:150px;
}
.table_filedate{
    width:150px;
}
.table_ng{
    width:120px;
}
.table_del_button{
    width:80px;
}
.table_line{
    width:150px;
}
.table_lotno{
    width:80px;
}
.table_filepath{
    width:250px;
}
.delete_button:hover{
    cursor: pointer;
    border: 2px solid blue;
}
.delete_button{
    margin-left: 20px;
    height:25px;
    background-color: var(--main-bg-color);
    border:none;
    color:white;
    width:50px;
}

.optional_settings_box{
    position: absolute;
    z-index: 90;
    left:43%;
    top:300px;
    display: block;
    width:280px;
    font-size: 20px;
    background-color: rgb(210,210,210);
    border:2px solid black;
    padding:10px 10px 50px 40px;
}
.popup_close_button{
    margin-bottom:35px;
    float:right;
}
.lotno_input_box{

    margin-top:50px;
}
.lotno_input{
    margin-right:20px;
    float:right;
    height: 30px;
    width:100px;

}
.ng_input_box{
    margin-top:20px;
}
.ng_input{
    margin-right:40px;
    float:right;
    height: 30px;
    width:100px;
}
.ng_user_input_box{
    margin-top:20px;
}
.ng_mes_input_box{
    margin-top:20px;
}
.filter_set_button{
    margin-top:20px;
    margin-left:50px;
}
.set_button:hover{
    cursor: pointer;
    border: 2px solid blue;
}
.set_button{
    margin-left: 20px;
    height:25px;
    background-color: var(--main-bg-color);
    border:none;
    color:white;
    width:100px;
}

.filename_div_in_item{
    display:block;
    text-align: left;
}
.filedate_div_in_item{
    display:block;
    text-align: left;
}
.linename_div_in_item{
    display:block;
    text-align: left;
}
.ng_div_in_item{
    display:block;
    text-align: left;
}
.ngbymes_div_in_item{
    display:block;
    text-align: left;
}
.ngbyuser_div_in_item{
    display:block;
    text-align: left;
}
.filename_in_item{
    float:right;
    background-color: rgba(0,0,0,0);
    border:1px solid;
    border-top:none;
    border-left:none;
    border-right:none;
}
.filedate_in_item{
    float:right;
    background-color: rgba(0,0,0,0);
    border:1px solid;
    border-top:none;
    border-left:none;
    border-right:none;
}
.linename_in_item{
    float:right;
    background-color: rgba(0,0,0,0);
    border:1px solid;
    border-top:none;
    border-left:none;
    border-right:none;
}
.ng_in_item {
    float:right;
    background-color: rgba(0,0,0,0);
    border:1px solid;
    border-top:none;
    border-left:none;
    border-right:none;
}
.ngbymes_in_item{
    float:right;
    background-color: rgba(0,0,0,0);
    border:1px solid;
    border-top:none;
    border-left:none;
    border-right:none;
}
.ngbyuser_in_item{
    float:right;
    background-color: rgba(0,0,0,0);
    border:1px solid;
    border-top:none;
    border-left:none;
    border-right:none;
}
.page_box{
    margin-top:10px;
}
