
.main_box{
    border:1px solid rgba(0,0,0,0.2);
    border-left:none;
    border-right:none;
    width:100%;
    height:700px;
    padding-top:30px;
    padding-left:30px;
}
.file_tree_box{
    overflow: scroll;
    border:3px solid;
    width:35%;
    height:700px;
    display: inline-block;
    background-color: rgba(255,255,255,0.1);
}
.image_view_box{
    overflow: scroll;
    border:3px solid;
    width:55%;
    height:700px;
    display: inline-block;
    margin-left: 50px;
    background-color: rgba(255,255,255,0.1);
}

.show_image{
    width:100%;
    height:100%;
}
.info_box{
    position: absolute;
    z-index: 90;
    left:86.5%;
    top:181px;
    display:none;
    width:200px;
    font-size: 15px;
    background-color: rgb(210,210,210);
    border:2px solid black;
    padding:10px 3px 10px 3px;
}
.image_view_box:hover + .info_box{
    display:block;
}
.each_info_div{
    margin-bottom:8px;
}
label{
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
