


.login_main_title{
    position:absolute;
    text-align: center;
    height:130px;
    width:100%;
    left: 0px;
    top:0px;
    font-size:40px;
    background-color:var(--main-bg-color);
    color:white;
    padding-top:70px;
    z-index:10;
    border-bottom: 4px solid white;
}

.login_box{
    height:250px;
    z-index:5;
    position:absolute;
    left:50%;
    margin-top:200px;
    margin-left: -290px;
    border-radius:5px;
    width:580px;
    background-color: rgb(219,219,219);
    border-bottom: 4px solid black;
    border-right: 4px solid black;

}

.inside_login_box{
    padding: 20px 30px 30px 30px;
}

.id_name{
    font-size: 20px;
    letter-spacing: 10px;
}
.pw_name{
    margin-top:15px;
    font-size: 20px;
}

.id_box{
    margin-top:60px;

}
.pw_box{
    margin-top:40px;
}

.id_input{
    font-size: 23px;
    padding-left:20px;
    position:absolute;
    width:350px;
    height:30px;
    margin-left:50px;
    margin-top:-25px;
    border-top:none;
    border-left:none;
    border-right:none;
    background-color: rgba(0,0,0,0);
}

@keyframes input_bottom_line {
    from {border-color: white;}
    to {border-color: rgb(122, 131, 255);}
}


.id_input:focus{
    outline: none;
    animation-name:input_bottom_line;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
}

.pw_input:focus{
    outline: none;
    animation-name:input_bottom_line;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
}
.pw_input{
    font-size: 23px;
    padding-left:20px;
    position:absolute;
    width:350px;
    height:30px;
    margin-left:50px;
    margin-top:-25px;
    background-color: rgba(0,0,0,0);
    border-top:none;
    border-left:none;
    border-right:none;
}
.login_button_div{
    position:absolute;
    margin-left:460px;
    margin-top:-110px;
}
.login_button:focus{
    outline: none;
}
.login_button{
    width:100px;
    height:80px;
    background-color:rgba(49,56,100,1);
    border-radius: 5px;
    font-size: 20px;
    border-top:none;
    border-left:none;
    font-weight:bold;
    color:#e0e0e0;

}
.login_button:hover{
    cursor:pointer;
}
