.history_popup_box{
    position:absolute;
    width:100%;
    height:100%;
    overflow: scroll;
    border: 3px inset;
    background-color: rgb(214, 214, 214);
    right:30px;
    left:0px;
    top:0px;

}
.history_popup {
    width: 700px;
    height: 500px;
    margin-top: -250px;
    margin-left: -350px;
    left: 700px;
    top: 500px;
    position: absolute;
    padding: 10px 10px 10px 10px;
    border: 5px double black;
}
.history_popup_table_box{
    overflow:scroll;
    height:470px;
}
.history_popup_table_box>table{
    width:100%;
}
.history_popup_table_box>table thead{
    background-color: rgba(0,0,0,0.3);
}
.history_popup_table_box>table td{
    padding:0px 5px 0px 5px;
}

.history_popup_button_group{
    width:100%;
    height:30px;
}
.history_popup_button_group>button{
    background-color: var(--main-bg-color);
    color: white;
    font-weight: bold;
}
