
.main_box{
}
.image_data_inputs_box{
    position:relative;
    border:1px ridge;
    border-color: rgba(0,0,0,0.2);
    height:500px;
    width:45%;
    padding:20px 20px 20px 20px;
    display:inline-block;
    float:left;

}
.model_data_input_box{
    position:relative;
    border:1px ridge;
    border-color: rgba(0,0,0,0.2);
    height:500px;
    width:45%;
    padding:20px 20px 20px 20px;
    display:inline-block;
    float:right;

}
.line_selector{
    float:right;
    width:45%;
    height:25px;
}
.set_date_box{
    height:53px;
    border-bottom: 1px solid gray;
}
#startDate{
    float:right;
    width:123px;
}
#endDate{
    float:right;
    width:123px;
}
.start_date_box{
    margin-top:10px;
    float:left;
    width:76%;
}
.end_date_box{
    margin-top:10px;
    width:24%;
    float:left;
}
.get_image_button_box{
    margin-top:10px;
}
.get_image_button{
    width:100%;
    height:25px;
}
.table{
    width:100%;
    height:100px;
    width:100%;

}
.tbody{
    height:100px;
    width:100%;
}
.table_box{
    overflow:scroll;
    height: 350px;
    width:100%;
}
.image_table_box{
    border-top:1px ridge rgba(0,0,0,0.2);
    margin-top:10px;
    height: 360px;
    width:100%;
    padding-top:10px;
}
.model_name_box{
    margin-top:10px;
}
.modelName{
    float:right;
    width:45%;
    height:25px;
}
.model_name_box{
    margin-top:10px;
}
.modelName{
    float:right;
    width:45%;
    height:25px;
}
.select_algorithm_box{
    margin-top:10px;
}
.algorithm_selector{
    float:right;
    width:45%;
    height:25px;
}

.select_filter_box{
    margin-top:10px;
}
.filter_selector{
    float:right;
    width:45%;
    height:25px;
}
.model_version_box{
    margin-top:10px;
}
.modelVersion{
    float:right;
    width:45%;
    height:25px;
}
.info_box{
    margin-top: 10px;
    border:1px ridge rgba(0,0,0,0.2);
    padding:5px 5px 5px 5px;
    height:350px;
}
.info_key_box{
    float:left;
    display:block;
    margin-top:5px;
    width:45%;
    border:1px solid white;
    border-top:none;
    border-left:none;
    border-right:none;
    height:30px;
    font-weight: bold;
}
.info_value_box{

    float:right;
    display:block;
    margin-top:5px;
    width:45%;
    border:1px solid white;
    height:30px;
    font-weight: bold;
    border-top:none;
    border-left:none;
    border-right:none;
}
.buttons_box{
    margin-top:30px;
    display: inline-block;
    position:relative;
    width:100%;
    height:100px;
    text-align:center;
}
#startTraining:hover{
    border:2px solid rgba(0,0,255,0.5);
    cursor: pointer;
}
#startTraining{
    width:180px;
    height:40px;
    background-color:#ff4000;
    border:none;
    font-weight: bold;
}
.table_filepath{
    display:none;
}
.textLog_box{
    margin-top:30px;
    display: inline-block;
    position:relative;
    width:100%;
    height:150px;
    text-align:center;

}
#logArea{
    width:100%;
    height:100%;
    border:1px solid white;
    background-color: black;
    color:yellow;
    overflow: scroll;
    padding:5px 50px 50px 5px;
}
.training_history_box{
    margin-top:10px;
}
.history_select{
    width:263px;
    float:right;
    height:23px;

}
