
<html>
    <head>
        <meta charset="UTF-8">
        <meta language="korean">
        <meta userid={{user.userid}} username={{user.username}} userAuth={{user.grade}}>
        <link rel="stylesheet" type="text/css" href="../css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css">
        <link rel="stylesheet" type="text/css" href="../css/commonCss.css">
        <link rel="stylesheet" type="text/css" href="../css/modelTrainingPage.css">
        <link rel="stylesheet" type="text/css" href="../css/jstreeCss/themes/default/style.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/commonCss.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modelTrainingPage.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jstreeCss/themes/default/style.min.css') }}">
    </head>
    <body>

        <header id="header">

        </header>
        <main id="main">





        </main>
        <footer>

        </footer>
    </body>
    <script src="../dist/modelTrainingPage.bundle.js"></script>
    <script src="{{ url_for('static', filename='dist/modelTrainingPage.bundle.js') }}"></script>
<html>
